body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: LightGoldenRodYellow;
}

.myLogo {
  height: 30em;
  width: 30em;
  position: relative;
  right: 5em;
  display: inline-block;
}

.mic {
  height: 30em;
  width: 30em;
  position: relative;
  left: 5em;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.word {
	color: blue;
}

.about {
	color: blue;	
}
