

.log-reg-container {
	max-width: 75px;
	margin-bottom: 100px;
	max-height: 500px;
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 8px;
	align-content: center;
	margin-top: 20px;
}

.reg-log-status {
	font-weight: 700;
	align-content: center;
	animation: 3s linear 1s infinite running slidein;
}